.container {
    display: inline-block;
    position: relative;
    display: flex;
    justify-content: center;
    background: black;
    
}
.container .text {
    background: rgba(255, 255, 255, 0);
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: -1000px ;
    right: 0;
    top: 93%;
    color: rgb(0, 0, 0);
    width: 70%;

}


nav{
    margin: 27px auto 27px;
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #2BD6B4;
    border-radius: 8px;
    font-size: 0;
}

nav a{
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

nav.animation{
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition:all .5s ease 0s;
    border-radius: 8px;
}

nav.animation a{
    transition:all .5s ease 0s;
}

nav.animation a:hover{
    color: #2BD6B4;
}

nav.animation a:nth-child(1){
    transition-delay: .1s;
}

nav.animation a:nth-child(2){
    transition-delay: .2s;
}

nav.animation a:nth-child(3){
    transition-delay: .3s;
}

span{
    color: #2BD6B4;
}

body{
    font-size: 12px;
    font-family: sans-serif;
    background: rgb(201, 186, 157);
}

.center-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main > ul > div > nav > a:hover {
    color: black;
}