:root {
    --text-color: white;
    --head-color: gray;
    --color-categorie: black;
    --bg-color-list:rgba(0, 0, 0, 0.6);;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main {
    background-color: white;
    font-size: 1.1rem;
}

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div[class^="container-main"] > h2{
    text-align: center;
    color: var(--head-color);
    text-shadow: 5px;
    text-decoration: underline;
}

/* Styles pour les catégories de véhicules (berline, SUV, citadine) */
.berline, .suv, .citadine {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Styles pour les titres des catégories (Berline, SUV, Citadine) */
  .berline-title, .suv-title, .citadine-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Styles pour les conteneurs des liens de véhicules */
  .container-type {
    display: flex;
    flex-direction: column;
  }
  
  /* Styles pour la liste des véhicules */
  .container-list-vehicule {
    display: flex;
    flex-direction: column;
  }
  
  /* Styles pour les liens de véhicules */
  .container-list-vehicule a {
    text-decoration: none;
    color: #333;
    margin: 5px 0;
    font-weight: bold;
  }
  
  /* Styles pour les liens de véhicules au survol */
  .container-list-vehicule a:hover {
    color: #e7a300;
  }
  

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--head-color);
}

a:active {
    color: var(--head-color);
}

a:visited {
    color: #333;
}
.Suv-title {
    font-weight: bold;
  }
  
