body{
  background: #000000;
}
header{
    
    background-color: #000000;
    background: #000000;
    bottom: 0;
    display: flex;
    border: #000000;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
  }
  header>a>img{
    width: 150px;
  
  }
  h1{
    color: #e7a300;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "dosis-regular",sans-serif;
  }
 
  input[type="text"],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #000000;
    border-radius: 0;
    box-sizing: border-box;
    color: #000000;
  }
  p {
      color: #e7a300;
  }
  input[type='radio']:after {
          width: 15px;
          height: 15px;
          border-radius: 15px;
          top: -2px;
          left: -1px;
          position: relative;
          background-color: #d1d3d1;
          content: '';
          display: inline-block;
          visibility: visible;
          border: 2px solid #e33822;
      }
  
      input[type='radio']:checked:after {
          width: 15px;
          height: 15px;
          border-radius: 15px;
          top: -2px;
          left: -1px;
          position: relative;
          background-color: #e7a300;
          content: '';
          display: inline-block;
          visibility: visible;
          border: 2px solid #e33822;
      }
      
  button {
    width: 100%;
    background-color: #e7a300;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 0px;
    cursor: pointer;
  }
  label, legend{
      color:#e7a300;
      
  } 
  input[type=submit]:hover {
    background-color: #e33822;
  }
  
  div {
    border-radius: 0px;
    background-color: #ffffff;
    padding: 10px;
    font-family: "dosis-regular",sans-serif;
  }


/* Styles généraux pour le footer */
footer {
  text-align: center;
  background-color: #000000;
  padding: 20px 0;
  color: #ffffff; /* Couleur du texte en noir */
  font-family: "Roboto", sans-serif;
}

/* Reste du CSS inchangé */


/* Styles pour les liens dans le footer */
footer a {
  color: #3d3d3d;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

footer a:hover {
  color: #337ab7;
}

/* Style pour l'image du logo */
footer img {
  width: 100px;
  height: auto;
}

/* Style pour le texte du footer */
footer p {
  color: #484848;
  font-size: 14px;
  margin-top: 10px;
}

/* Style pour les icônes des réseaux sociaux */
footer a img.social-icon {
  width: 32px;
  height: 32px;
  margin: 0 5px;
}

  a{
    text-decoration: none;
    font: "Roboto",sans-serif,;
    color: #000000;
  }
  a:visited {
    color: #000;
}




input:invalid:required {
  border: 2px solid red; /* Bordure rouge pour les champs non remplis et requis */
}

input:valid {
  border: 2px solid black;
}

form {
  background-color: white;
}